body {

	background-color:#029e73;
	background-image: none;
}

.app {

	background:none;
	width: 100%;
	height: 100%;
	margin: 0;
}

.app li{
	display: inline;

}

.container{

	padding-left: 1em;
	padding-right: 1em;

}



/*-------------First Screen----------------*/
.input-group-addon{
	background-color: #07251c;
	color: white;

}
.input-group{

	margin-bottom: 1em;
}

#login{
	background-color: #07251c;
	color: white;
	width:100%;
}
/*-------------Header----------------*/
.header {

	background-color: #07251c;
	color: white;
	text-align: left;
	margin-bottom: 0.5em;
	width: 100%;
	padding-top: 0.1em;
	padding-bottom: 0.1em;
	margin-right: 0;
	margin-left: 0;

}
.header h4{

	font-size: 0.7em;
}

#logo{


	margin-top: 3em;
	margin-right: auto;
	margin-left:auto;
	text-align:center;
	margin-bottom: 2em;

}

#home-ico, #lock-ico{
	background-color: #ccc;
	color: #07251c;
}

/*
header p{

	padding-left: 1em;
}

header .row{

	margin-left: 0;
	margin-right: 0;

}


header a{
	color: white;
}
header a:hover{
	color: #919191;
	text-decoration: none;
}*/

/*-------------Second Screen----------------*/


.panel{
	background-color:rgba(255, 255, 255, 0);
	border:none;

}
.panel-default>.panel-heading {
	text-align: left;
	background-color: #07251c;
	color: white;
	margin-bottom: 0.5em;
	border:none;
	padding:3px 15px;
}

#activecows{
	margin-bottom: 0;
}
.dataTables_scrollHead{

	background-color: #07251c;
}
.dataTable{

	margin-bottom: 0;
		
}

table th{
	background-color: #07251c;
	color: white;	
	text-align: center;
}

#activelist td{

	background-color: rgba(255, 255, 255, 0.65);
	text-align: center;
	
}
table td{

	background-color: #fff;
	text-align: center;
	
}
tbody {
	border-color: black;
	overflow: auto;
	max-height: 150px;

}

.functions{
	display: block;
}

.functions button{
	display: block;
	margin-top: 1em;
	padding-left: 2em;
	font-size: 1.5em;
}
.functions .glyphicon:empty{
	float: left;
	width: 2em;

}
.addcow{

	background-color: #771519;
	border: none;
	width: 100%;
	text-align: left;
}
.addcow:hover{

	background-color: #683D3F;
}

.ready{

	background-color: #771519;
	border: none;
	width: 100%;
	text-align: center;
}
.ready:hover{

	background-color: #683D3F;
}

#becerro{

	background-color: #07251c;
	border: none;
	width: 100%;
	text-align: left;
}

#becerro:hover{
	background-color:#155341;
}

/*-------------Third Screen----------------*/
#third .row{

	margin-bottom: 1em;

}
.raza h4 {
	font-size: 14px;
	text-align: left;
	color: white;
	padding-left: 1em;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #07251c;
	text-transform:none;
	border-radius: 5px;
	margin-bottom: 0px;

}
#higiene h4 {
	font-size: 12px;
	text-align: left;
	color: white;
	padding-left: 1em;
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: #07251c;
	text-transform:none;
	border-radius: 5px;
	margin-top: 5px;
	margin-bottom: 5px;


}

#perineo{

	font-size: 14px;	
	padding-top: 5px;
	padding-bottom: 5px;
}

#raza_option .btn-group-justified .btn{
	width: 14%;
}
.btn-default{
	background-color: white;
	color: #07251c;
}

.btn-default.active, .btn-default:active, .btn-default:hover, .btn-default:focus{
	background-color: #07251c;
	color: white;
}

#perineo .btn-group-justified .btn{
	width: 32%;
}
.input-group-sm>.input-group-addon{
	padding-left: 1em;
	font-size: 14px;
	text-transform: none;
	border: none;
}
.input-group-sm>.form-control{
	height: 33px;
	font-size: 14px;
}

/*-------------Forth Screen----------------*/
#forth .row{

	margin-bottom: 1.5em;

}




/*-------------Fifth Screen----------------*/

.fifth.btn-default{
	border: none;
	background-color: #07251c;
	color: #fff;
}

.fifth.btn-default.active, .fifth.btn-default:active, .fifth.btn-default:hover, .fifth.btn-default:focus{
	background-color: #771519;
	color: #fff;
}
.fifth_2.btn-default{
	background-color: #fff;
	color: #07251c;
}

.fifth_2.btn-default.active, .fifth_2.btn-default:active, .fifth_2.btn-default:hover, .fifth_2.btn-default:focus{
	background-color: #771519;
	color: #fff;
}

/*-------------Final Screen----------------*/
.functions_f{
	display: block;
}

.functions_f button{
	display: block;
	margin-top: 1em;	
	font-size: 1.5em;
}
.functions_f .glyphicon{
	float: right;
	top: 5px;

}

.row_selected {

background-color: #771519;
}

